@import "../../variables.scss";
.header {
  width: 100%;
  display: flex;
  // background-color: rgba(0, 0, 0, 0.133);
  background-color: $black;
  justify-content: space-between;
  padding: 10px 20px;
  color: white;
  // box-shadow: 0 0px 1px white;
  box-shadow: 0px -6px 20px rgb(255 255 255 / 36%);
  // outline: 1px solid red;

  height: 84px;

  .links {
    // outline: 1px solid white;
    display: flex;
    gap: 20px;
    align-items: flex-end;
    a {
      font-size: $fsz-header;
      // font-weight: 100;
      color: #7D7D7D;
      line-height: 1.6;
      text-decoration: none;
    }
    a.active {
      color: white;
      font-weight: 500;
    }
  }

  svg {
    // border: 1px solid red;
    align-self: flex-end;
    margin-right: 2rem;
    margin-top: 2rem;
  }

  .icon {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: white;
  }
}
