@import 'variables';

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  // min-height: 100vh;
  background-color: $black;
}

.input {
  flex-grow: 1;
  background-color: $black;
  border: 0;
  height: 40px;
  font-size: 1rem;
  color: white;
  padding-left: 20px;
}
.button {
  font-weight: 700;
  height: 40px;
  // width: fit-content;
  background-color: $black;
  color: white;
  outline: 0;
  border: 0;
  // border-radius: 5px;

  width: 50px;

  // padding: 0 1rem;
  // width: 200px;
}