.main {
    // width: min(100vw - 32px, 900px);
    // margin: 0 auto;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 7fr 1fr;

    h1 {
        color: white;
        margin: 0;
        text-align: center;
        margin: .5rem 0 .5rem 0;
    }
}