$bg-color: #645CBB;
$box-color: #A084DC;
// $grey: #f0e2ff;
$grey: rgb(35,35,35);

$black: rgb(0,0,0);
// $bg-color: $black;
// $box-color: $black;
// $grey: #f0e2ff;
$fsz-chat: 16px;
$fsz-header: 20px;
